[submodule "musebib"]
	path = musebib
	url = https://github.com/grammaton/musebib.git
[submodule "ambib"]
	path = ambib
	url = https://github.com/grammaton/ambib.git
[submodule "microphone-polar-patterns"]
	path = microphone-polar-patterns
	url = https://github.com/grammaton/microphone-polar-patterns.git
